.plyr--full-ui input[type=range] {
 color:#d9534f!important
}
.plyr--video .plyr__controls .plyr__control[aria-expanded=true] {
 background:#d9534f
}
.plyr__control--overlaid:hover {
 background:#d9534f
}
.plyr__control--overlaid {
 background:#d9534f
}
.plyr__control:hover {
 background:#d9534f!important
}
.plyr__control--overlaid {
 padding:15px
}
.plyr__video-embed iframe {
 top:-50%;
 height:200%
}
